body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #D0E5FA;
    
}

.header{
    background-color: #A7BAE7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    padding: 5px 0 5px 30px;
}

.title h1{
    font-size: 50px;
}

.nav{
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3%;
}

.nav p{
    border-style: solid;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
}

.nav p a{
    color: black;
    text-decoration:none;
}

.nav p:hover{
    transform: scale(1.1);
    transition: 0.5s;
    border-color: #71c283;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.container .title{
    margin-top: 50px;

}


.column{
    position: relative;
    width: 80%;
    height: 300px;
    margin-top: 10px;
    
}

.column .row{
    position: relative;
    width: 30.7%;
    height: 90%;
    background: #ffdcb8;
    float: left;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;

}

.icon{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
    top: 0;
    right: 0%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: #C0ECCC;
    border-radius: 10px;
}

.row:hover .icon{
    width: 100%;
    height : 60px;
    transition: 1s;
}

.des {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-left: 15%;
    margin-right: 15%; 
    margin-top: 5%;
}

.des p{
    text-align: justify;
    letter-spacing: 0.5mm;
}

.des a{
    text-decoration: underline;
    color: #6CB2D1;
}

.des a:hover{
    transition: 0.5s;
    font-size: 30px;
    color: #4F9EC4;
    text-decoration: solid;
}
.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 0;
}

.question{
    width: 200px;
}

.answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.5mm;
    text-align: justify;
    width: 600px;
}

.answer a{
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    color: #6CB2D1;


}
.answer a:hover{
    color: #4F9EC4;
    transition: 0.5s;
    font-size: 30px;
    text-decoration: solid;

}


